@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #cfd0ec;
    font-family: "Rubik";
}

html {
    scroll-behavior: smooth;
}

.weather-app {
    background-color: #fff;
    color: #272044;
    border-radius: 28px;
    padding: 16px;
    max-width: 1600px;
    margin: 45px auto 0; 
    width: 100%;
    height: 90vh;
}

header {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.weather-logo {
    display: flex;
    margin-left: 1%;
}

.weather-logo p{
    font-size: 25px;
    margin-top: 0.8rem;
    font-weight: 500;
    margin-left: 0.5rem;
    color: #8a8df7;
}

form {
    border: 2px solid #EAE6F2;
    width: 40%;
    border-radius: 50px;
    background-color: #f7f3ff;
}

form input {
    padding: 5px;
    margin-left: 3%;
    border-radius: 50px;
    background: transparent;
    border: 2px solid transparent; 
    outline: none;
    margin-bottom: 2%;
    font-size: 16px;
    color: #272044 !important;
    font-weight: 500 !important;
    font-family: "Rubik";
}

form input::placeholder {
    font-size: 16px;
    color: #272044 !important;
    font-weight: 500 !important;
    font-family: "Rubik";
}

form button {
    font-size: 25px;
    color: #f7f3ff;
    background-color: #272044;
    border: 2px solid #272044;
    margin-left: 12%;
    margin-top: 2%;
    font-weight: 900;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50px;
}

.user {
    margin-left: 75%;
    width: 23%;
    height: 85vh;
    margin-top: -5.5%;
    border-radius: 50px;
    padding-top: 4%;
    box-shadow: 10px 10px 20px -10px #cfd0ec, -10px -10px 20px -10px #cfd0ec;
}

.user-header h3 {
    text-align: center;
    margin-bottom: 8%;
    font-size: 25px;
}

.user-image {
    background-color: #cfd0ec;
    width: 65%;
    border-radius: 50px;
    position: relative;
    margin-left: 17.5%;
}

.user-image img {
    margin-left: 6%;
}

.user-info {
    margin-top: 10%;
    text-align: center;
}

.user-info h3 {
    margin-bottom: 2%;
    font-size: 30px;
}

